*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#061524;
color:white;
overflow:hidden;
}

.app{
width:100%;
height:100vh;
position:relative;
overflow:hidden;
}

.page{
display:none;
width:100%;
height:100vh;
}

.page.active{
display:block;
}

#homePage{
position:relative;
height:100vh;
}

#map{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
z-index:1;
}

.top-search{
position:absolute;
top:20px;
left:15px;
right:15px;
z-index:1000;
}

.top-search input{
width:100%;
height:60px;
border:none;
border-radius:20px;
padding:0 20px;
background:rgba(6,21,36,.95);
color:white;
font-size:16px;
outline:none;
}

.route-card{
position:absolute;
left:15px;
right:15px;
bottom:95px;
background:rgba(6,21,36,.95);
padding:20px;
border-radius:25px;
z-index:1000;
}

.route-top{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:10px;
}

.route-top h2{
font-size:30px;
color:#21ff9b;
}

.route-top span{
color:#9fb3c8;
font-size:18px;
}

.route-card p{
margin-bottom:15px;
color:#9fb3c8;
}

.battery-box{
background:#10263d;
padding:14px;
border-radius:14px;
display:flex;
justify-content:space-between;
margin-bottom:15px;
}

#routeBtn{
width:100%;
height:55px;
border:none;
border-radius:14px;
background:#21ff9b;
color:#061524;
font-size:18px;
font-weight:bold;
cursor:pointer;
}

.bottom-nav{
position:fixed;
left:15px;
right:15px;
bottom:15px;
height:75px;
background:rgba(6,21,36,.97);
border-radius:22px;
display:flex;
justify-content:space-around;
align-items:center;
z-index:999999;
}

.nav-btn{
background:none;
border:none;
color:#8ea4ba;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:4px;
cursor:pointer;
}

.nav-btn span{
font-size:24px;
}

.nav-btn small{
font-size:11px;
}

.nav-btn.active{
color:#21ff9b;
}

.content{
padding:20px;
padding-top:40px;
}

.input{
width:100%;
height:55px;
border:none;
border-radius:14px;
padding:0 15px;
margin-bottom:15px;
background:#10263d;
color:white;
outline:none;
}

.green-btn{
width:100%;
height:55px;
border:none;
border-radius:14px;
background:#21ff9b;
color:#061524;
font-weight:bold;
font-size:16px;
}

.station-card{
background:#10263d;
padding:15px;
border-radius:15px;
margin-bottom:12px;
}

.leaflet-control-attribution{
display:none;
}
```
