*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#031425;
color:white;
overflow:hidden;
}

.app{
width:100%;
height:100vh;
position:relative;
}

.page{
display:none;
width:100%;
height:100vh;
}

.page.active{
display:block;
}

#map{
width:100%;
height:100vh;
}

.top-search{
position:absolute;
top:15px;
left:15px;
right:15px;
z-index:1000;
}

.top-search input{
width:100%;
height:55px;
border:none;
border-radius:16px;
padding:0 15px;
background:#0b2138;
color:white;
font-size:16px;
outline:none;
}

.route-card{
position:absolute;
left:15px;
right:15px;
bottom:90px;
background:#0b2138;
padding:20px;
border-radius:20px;
z-index:1000;
}

.route-card h2{
color:#20f5a8;
margin-bottom:10px;
}

.route-card p{
margin-bottom:15px;
color:#9db0c4;
}

#routeBtn,
.green-btn{
width:100%;
height:50px;
border:none;
border-radius:12px;
background:#20f5a8;
color:#031425;
font-weight:bold;
font-size:16px;
cursor:pointer;
}

.bottom-nav{
position:fixed;
bottom:0;
left:0;
right:0;
height:80px;
background:#071a2d;
display:flex;
justify-content:space-around;
align-items:center;
border-top:1px solid rgba(255,255,255,.1);
z-index:99999;
}

.nav-btn{
background:none;
border:none;
color:white;
font-size:28px;
cursor:pointer;
display:flex;
align-items:center;
justify-content:center;
width:60px;
height:60px;
}

.nav-btn{
background:none;
border:none;
color:white;
font-size:24px;
cursor:pointer;
}

.nav-btn.active{
color:#20f5a8;
}

.content{
padding:20px;
padding-top:40px;
}

.input{
width:100%;
height:50px;
border:none;
border-radius:12px;
padding:0 15px;
margin-top:10px;
margin-bottom:15px;
background:#0b2138;
color:white;
outline:none;
}

.station-card{
background:#0b2138;
padding:15px;
border-radius:15px;
margin-top:10px;
}

.leaflet-control-attribution{
display:none;
}
