*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#071423;
color:white;
}

.app{
max-width:500px;
margin:auto;
min-height:100vh;
}

.topbar{
padding:20px;
}

.topbar h1{
font-size:32px;
color:#26ff9b;
}

.topbar p{
color:#9cb3c9;
margin-top:5px;
}

.search-box{
padding:15px;
}

.search-box input{
width:100%;
padding:15px;
border:none;
border-radius:15px;
background:#12263b;
color:white;
}

.stats{
display:flex;
gap:10px;
padding:0 15px 15px;
}

.stat-card{
flex:1;
background:#12263b;
padding:15px;
border-radius:15px;
text-align:center;
}

#map{
height:500px;
margin:15px;
border-radius:20px;
overflow:hidden;
}

.bottom-nav{
position:fixed;
bottom:0;
left:0;
right:0;
max-width:500px;
margin:auto;
display:flex;
justify-content:space-around;
background:#12263b;
padding:15px;
border-top:1px solid #1e3956;
}

.bottom-nav button{
background:none;
border:none;
color:white;
font-size:24px;
cursor:pointer;
}
